<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>

	<div id="content">
		<h2><strong>Olá, eu sou Felipe!</strong></h2>
		<h4>
		<p>Atualmente estou me aventurando em Rails e Python, além das coisas agradáveis do mundo dos dados.</p>
		</h4>
		<h5>
		<p>
			Estamos sós e nenhum de nós, sabe onde vai parar. Estamos vivos, sem motivos, que motivos temos para estar?
			Atrás de palavras escondidas, nas entrelinhas do horizonte dessa Highway. Infinita Highway...
		</p>
	</h5>
	</div>
</div>